body {
    margin: 0;
}

.lightToggle {
   background-image: url("/img/nezuko.jpg");
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   height: 600px;
  
   color: #FFFFFF;

text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
color: #FFFFFF;

}

.darkToggle {
    background-image: url("img/blue.jpeg");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 400px;
    

    color: #FFFFFF;

    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #8da9c4 0px 0px 20px, #8da9c4 0px 0px 30px, #8da9c4 0px 0px 40px, #8da9c4 0px 0px 50px, #8da9c4 0px 0px 75px;
    color: #FFFFFF;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-style: italic;
    font-size: large;
    max-width: 500px;
}

button {
    all: unset;
    cursor: pointer;
    font-size: 30px;
}

@media (max-width: 614px) {
    .lightToggle {
        background-image: url(img/iphone.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }

   

    .darkToggle {
        background-image: url(img/iphone2.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}